on early-boot
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chmod 0660 /sys/class/leds/vibrator/activate
    chmod 0660 /sys/class/leds/vibrator/duration
    chmod 0660 /sys/class/leds/vibrator/state

service vendor.vibrator-m3note /vendor/bin/hw/android.hardware.vibrator-service.m3note
    class hal
    user system
    group system
