service vendor.meizu-power-1-0 /vendor/bin/hw/meizu.hardware.power@1.0-service
    class hal
    user system
    group system

on post-fs
    mount debugfs debugfs /sys/kernel/debug nodev noexec nosuid mode=0755

on post-fs-data
    chown system system /proc/ppm/mode
    chmod 0660 /proc/ppm/mode
    chown system system /proc/hps/power_mode
    chmod 0660 /proc/hps/power_mode
    chown system system /proc/cpufreq/cpufreq_power_mode
    chmod 0660 /proc/cpufreq/cpufreq_power_mode
    chown system system /sys/kernel/debug/ged/hal/event_notify
    chmod 0660 /sys/kernel/debug/ged/hal/event_notify
