
on post-fs-data
    # Sensor
    chmod 0660 /dev/hwmsensor
    chmod 0660 /dev/msensor
    chmod 0660 /dev/gsensor
    chmod 0660 /dev/als_ps
    chmod 0660 /dev/gyroscope
    chmod 0660 /dev/aal_als
    chmod 0660 /dev/m_batch_misc

    chmod 0660 /sys/devices/platform/msensor/driver/cpsopmode
    chmod 0660 /sys/devices/platform/msensor/driver/cpsreptxy
    chmod 0660 /sys/devices/platform/msensor/driver/cpsreptz
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsopmode
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsrange
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsbandwidth

    chown system system /dev/hwmsensor
    chown system system /dev/msensor
    chown system system /dev/gsensor
    chown radio system /dev/als_ps
    chown system system /dev/gyroscope
    chown system system /dev/aal_als
    chown system system /dev/m_batch_misc

    chmod 0660 /sys/class/misc/m_acc_misc/accenablenodata
    chmod 0660 /sys/class/misc/m_acc_misc/accactive
    chmod 0660 /sys/class/misc/m_acc_misc/accdelay
    chmod 0660 /sys/class/misc/m_acc_misc/accbatch
    chmod 0660 /sys/class/misc/m_acc_misc/accflush
    chown system system /sys/class/misc/m_acc_misc/accenablenodata
    chown system system /sys/class/misc/m_acc_misc/accactive
    chown system system /sys/class/misc/m_acc_misc/accdelay
    chown system system /sys/class/misc/m_acc_misc/accbatch
    chown system system /sys/class/misc/m_acc_misc/accflush

    chmod 0660 /sys/class/misc/m_mag_misc/magactive
    chmod 0660 /sys/class/misc/m_mag_misc/magdelay
    chmod 0660 /sys/class/misc/m_mag_misc/magbatch
    chmod 0660 /sys/class/misc/m_mag_misc/magflush
    chmod 0660 /sys/class/misc/m_mag_misc/magoactive
    chmod 0660 /sys/class/misc/m_mag_misc/magodelay
    chmod 0660 /sys/class/misc/m_mag_misc/magobatch
    chmod 0660 /sys/class/misc/m_mag_misc/magoflush
    chown system system /sys/class/misc/m_mag_misc/magactive
    chown system system /sys/class/misc/m_mag_misc/magdelay
    chown system system /sys/class/misc/m_mag_misc/magbatch
    chown system system /sys/class/misc/m_mag_misc/magflush
    chown system system /sys/class/misc/m_mag_misc/magoactive
    chown system system /sys/class/misc/m_mag_misc/magodelay
    chown system system /sys/class/misc/m_mag_misc/magobatch
    chown system system /sys/class/misc/m_mag_misc/magoflush
    chmod 0660 /sys/class/misc/m_batch_misc/batchactive
    chmod 0660 /sys/class/misc/m_batch_misc/batchdelay
    chmod 0660 /sys/class/misc/m_batch_misc/batchbatch
    chmod 0660 /sys/class/misc/m_batch_misc/batchflush
    chown system system /sys/class/misc/m_batch_misc/batchactive
    chown system system /sys/class/misc/m_batch_misc/batchdelay
    chown system system /sys/class/misc/m_batch_misc/batchbatch
    chown system system /sys/class/misc/m_batch_misc/batchflush

	chmod 0660 /sys/class/misc/m_gyro_misc/gyroenablenodata
    chmod 0660 /sys/class/misc/m_gyro_misc/gyroactive
    chmod 0660 /sys/class/misc/m_gyro_misc/gyrodelay
    chmod 0660 /sys/class/misc/m_gyro_misc/gyrobatch
    chmod 0660 /sys/class/misc/m_gyro_misc/gyroflush
    chown system system /sys/class/misc/m_gyro_misc/gyroenablenodata
    chown system system /sys/class/misc/m_gyro_misc/gyroactive
    chown system system /sys/class/misc/m_gyro_misc/gyrodelay
    chown system system /sys/class/misc/m_gyro_misc/gyrobatch
    chown system system /sys/class/misc/m_gyro_misc/gyroflush

    chmod 0660 /sys/class/misc/m_alsps_misc/alsactive
    chmod 0660 /sys/class/misc/m_alsps_misc/alsdelay
    chmod 0660 /sys/class/misc/m_alsps_misc/alsbatch
    chmod 0660 /sys/class/misc/m_alsps_misc/alsflush
    chmod 0660 /sys/class/misc/m_alsps_misc/psactive
    chmod 0660 /sys/class/misc/m_alsps_misc/psdelay
    chmod 0660 /sys/class/misc/m_alsps_misc/psbatch
    chmod 0660 /sys/class/misc/m_alsps_misc/psflush
    chown system system /sys/class/misc/m_alsps_misc/alsactive
    chown system system /sys/class/misc/m_alsps_misc/alsdelay
    chown system system /sys/class/misc/m_alsps_misc/alsbatch
    chown system system /sys/class/misc/m_alsps_misc/alsflush
    chown system system /sys/class/misc/m_alsps_misc/psactive
    chown system system /sys/class/misc/m_alsps_misc/psdelay
    chown system system /sys/class/misc/m_alsps_misc/psbatch
    chown system system /sys/class/misc/m_alsps_misc/psflush

    chmod 0660 /sys/class/misc/m_baro_misc/baroenablenodata
    chmod 0660 /sys/class/misc/m_baro_misc/baroactive
    chmod 0660 /sys/class/misc/m_baro_misc/barodelay
    chmod 0660 /sys/class/misc/m_baro_misc/barobatch
    chmod 0660 /sys/class/misc/m_baro_misc/baroflush
    chown system system /sys/class/misc/m_baro_misc/baroenablenodata
    chown system system /sys/class/misc/m_baro_misc/baroactive
    chown system system /sys/class/misc/m_baro_misc/barodelay
    chown system system /sys/class/misc/m_baro_misc/barobatch
    chown system system /sys/class/misc/m_baro_misc/baroflush

    chmod 0660 /sys/class/misc/m_step_c_misc/step_cactive
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cdelay
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cbatch
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cflush
    chown system system /sys/class/misc/m_step_c_misc/step_cactive
    chown system system /sys/class/misc/m_step_c_misc/step_cdelay
    chown system system /sys/class/misc/m_step_c_misc/step_cbatch
    chown system system /sys/class/misc/m_step_c_misc/step_cflush

    chmod 0660 /sys/class/misc/m_act_misc/actactive
    chmod 0660 /sys/class/misc/m_act_misc/actdelay
    chmod 0660 /sys/class/misc/m_act_misc/actbatch
    chmod 0660 /sys/class/misc/m_act_misc/actflush
    chown system system /sys/class/misc/m_act_misc/actactive
    chown system system /sys/class/misc/m_act_misc/actdelay
    chown system system /sys/class/misc/m_act_misc/actbatch
    chown system system /sys/class/misc/m_act_misc/actflush

    chmod 0660 /sys/class/misc/m_fdn_misc/fdnactive
    chmod 0660 /sys/class/misc/m_fdn_misc/fdndelay
    chmod 0660 /sys/class/misc/m_fdn_misc/fdnbatch
    chmod 0660 /sys/class/misc/m_fdn_misc/fdnflush
    chown system system /sys/class/misc/m_fdn_misc/fdnactive
    chown system system /sys/class/misc/m_fdn_misc/fdndelay
    chown system system /sys/class/misc/m_fdn_misc/fdnbatch
    chown system system /sys/class/misc/m_fdn_misc/fdnflush

    chmod 0660 /sys/class/misc/m_inpk_misc/inpkactive
    chmod 0660 /sys/class/misc/m_inpk_misc/inpkdelay
    chmod 0660 /sys/class/misc/m_inpk_misc/inpkbatch
    chmod 0660 /sys/class/misc/m_inpk_misc/inpkflush
    chown system system /sys/class/misc/m_inpk_misc/inpkactive
    chown system system /sys/class/misc/m_inpk_misc/inpkdelay
    chown system system /sys/class/misc/m_inpk_misc/inpkbatch
    chown system system /sys/class/misc/m_inpk_misc/inpkflush

    chmod 0660 /sys/class/misc/m_pdr_misc/pdractive
    chmod 0660 /sys/class/misc/m_pdr_misc/pdrdelay
    chmod 0660 /sys/class/misc/m_pdr_misc/pdrbatch
    chmod 0660 /sys/class/misc/m_pdr_misc/pdrflush
    chown system system /sys/class/misc/m_pdr_misc/pdractive
    chown system system /sys/class/misc/m_pdr_misc/pdrdelay
    chown system system /sys/class/misc/m_pdr_misc/pdrbatch
    chown system system /sys/class/misc/m_pdr_misc/pdrflush

    chmod 0660 /sys/class/misc/m_pkup_misc/pkupactive
    chmod 0660 /sys/class/misc/m_pkup_misc/pkupdelay
    chmod 0660 /sys/class/misc/m_pkup_misc/pkupbatch
    chmod 0660 /sys/class/misc/m_pkup_misc/pkupflush
    chown system system /sys/class/misc/m_pkup_misc/pkupactive
    chown system system /sys/class/misc/m_pkup_misc/pkupdelay
    chown system system /sys/class/misc/m_pkup_misc/pkupbatch
    chown system system /sys/class/misc/m_pkup_misc/pkupflush

    chmod 0660 /sys/class/misc/m_shk_misc/shkactive
    chmod 0660 /sys/class/misc/m_shk_misc/shkdelay
    chmod 0660 /sys/class/misc/m_shk_misc/shkbatch
    chmod 0660 /sys/class/misc/m_shk_misc/shkflush
    chown system system /sys/class/misc/m_shk_misc/shkactive
    chown system system /sys/class/misc/m_shk_misc/shkdelay
    chown system system /sys/class/misc/m_shk_misc/shkbatch
    chown system system /sys/class/misc/m_shk_misc/shkflush

    chmod 0660 /sys/class/misc/m_hrm_misc/hrmactive
    chmod 0660 /sys/class/misc/m_hrm_misc/hrmdelay
    chmod 0660 /sys/class/misc/m_hrm_misc/hrmbatch
    chmod 0660 /sys/class/misc/m_hrm_misc/hrmflush
    chown system system /sys/class/misc/m_hrm_misc/hrmactive
    chown system system /sys/class/misc/m_hrm_misc/hrmdelay
    chown system system /sys/class/misc/m_hrm_misc/hrmbatch
    chown system system /sys/class/misc/m_hrm_misc/hrmflush

    chmod 0660 /sys/class/misc/m_tile_misc/tileactive
    chmod 0660 /sys/class/misc/m_tile_misc/tiledelay
    chmod 0660 /sys/class/misc/m_tile_misc/tilebatch
    chmod 0660 /sys/class/misc/m_tile_misc/tileflush
    chown system system /sys/class/misc/m_tile_misc/tileactive
    chown system system /sys/class/misc/m_tile_misc/tiledelay
    chown system system /sys/class/misc/m_tile_misc/tilebatch
    chown system system /sys/class/misc/m_tile_misc/tileflush

    chmod 0660 /sys/class/misc/m_wag_misc/wagactive
    chmod 0660 /sys/class/misc/m_wag_misc/wagdelay
    chmod 0660 /sys/class/misc/m_wag_misc/wagbatch
    chmod 0660 /sys/class/misc/m_wag_misc/wagflush
    chown system system /sys/class/misc/m_wag_misc/wagactive
    chown system system /sys/class/misc/m_wag_misc/wagdelay
    chown system system /sys/class/misc/m_wag_misc/wagbatch
    chown system system /sys/class/misc/m_wag_misc/wagflush

    chmod 0660 /sys/class/misc/m_glg_misc/glgactive
    chmod 0660 /sys/class/misc/m_glg_misc/glgdelay
    chmod 0660 /sys/class/misc/m_glg_misc/glgbatch
    chmod 0660 /sys/class/misc/m_glg_misc/glgflush
    chown system system /sys/class/misc/m_glg_misc/glgactive
    chown system system /sys/class/misc/m_glg_misc/glgdelay
    chown system system /sys/class/misc/m_glg_misc/glgbatch
    chown system system /sys/class/misc/m_glg_misc/glgflush


service msensord /vendor/bin/msensord
    class main
    oneshot
    disabled

on boot && property:ro.vendor.meizu.profile=l681
    start msensord

service akmd09911 /vendor/bin/akmd09911
    oneshot
    disabled
    user system
    group system
    class main
