allow fingerprintd goodixfingerprintd_service:service_manager { add find };
allow fingerprintd goodix_fingerprint_service:service_manager { add find };
allow fingerprintd fingerprint_device:chr_file rw_file_perms;
allow fingerprintd mobicore_user_device:chr_file rw_file_perms;
allow fingerprintd self:binder { call transfer };
allow fingerprintd init:unix_stream_socket connectto;
allow keystore mobicore_user_device:chr_file rw_file_perms;
allow keystore init:unix_stream_socket connectto;
allow system_server goodixfingerprintd_service:service_manager find;
allow system_server goodix_fingerprint_service:service_manager find;
