type nvram_agent_binder, domain;
init_daemon_domain(nvram_agent_binder)
binder_use(nvram_agent_binder)
binder_service(nvram_agent_binder)

allow nvram_agent_binder nvram_agent_service:service_manager { add find };
allow system_server nvram_agent_service:service_manager find;
allow radio nvram_agent_service:service_manager find;

r_dir_file(nvram_agent_binder, nvdata_file)
allow nvram_agent_binder nvdata_file:file rw_file_perms;

# NvRAMAgent reads/writes the nvcfg directory (GPS almanac, AGPS config).
allow nvram_agent_binder nvcfg_file:dir create_dir_perms;
allow nvram_agent_binder nvcfg_file:file create_file_perms;
