type mtk_ccci_aud_device, dev_type;
type mtk_camera_device, dev_type;
type mtk_smi_device, dev_type;
type sunwave_fp_device, dev_type;
type mtk_ccci_device, dev_type;
type mtk_wmt_device, dev_type;
type mtk_stp_device, dev_type;
type aw8738_device, dev_type;
type mtk_disp_mgr_device, dev_type;
type mtk_sw_sync_device, dev_type;
type mtk_spm_device, dev_type;
type mtk_hwmsensor_device, dev_type;
type mtk_gpufreq_proc, fs_type;
type mtk_cmdq_proc, fs_type;
type mtk_wmt_proc, fs_type;
type mtk_devinfo_sysfs, sysfs_type, fs_type;
type mtk_backlight_sysfs, sysfs_type, fs_type;
type mtk_sensor_sysfs, sysfs_type, fs_type;
type protect_f_data_file, file_type, data_file_type;
type protect_s_data_file, file_type, data_file_type;
type custom_file, file_type;
type mtk_mblog_data_file, file_type, data_file_type;
type mtk_mdlog_data_file, file_type, data_file_type;
type mtk_aee_core_data_file, file_type, data_file_type;
type mtk_agps_data_file, file_type, data_file_type;
type mtk_netdiag_socket, file_type;
type mtk_wod_socket, file_type;
type mtk_agpsd_socket, file_type;
type mtk_mnld_socket, file_type;
type mtk_atci_socket, file_type;
type protect_block_device, dev_type;
type m6_nvram_block_device, dev_type;
type nvdata_block_device, dev_type;
type custom_block_device, dev_type;

allow init { protect_f_data_file protect_s_data_file custom_file radio_data_file }:dir mounton;
allow init { mtk_netdiag_socket mtk_wod_socket mtk_agpsd_socket mtk_mnld_socket }:sock_file { create setattr unlink };
allow fsck { protect_block_device nvdata_block_device custom_block_device }:blk_file rw_file_perms;
allow e2fs { protect_block_device nvdata_block_device custom_block_device }:blk_file rw_file_perms;
allow init { mtk_ccci_aud_device sunwave_fp_device }:chr_file getattr;
allow init mtk_wmt_device:chr_file rw_file_perms;
allow netd mtk_wmt_device:chr_file rw_file_perms;
allow hal_wifi_default mtk_wmt_device:chr_file rw_file_perms;
allow hal_bluetooth_default mtk_stp_device:chr_file rw_file_perms;
