service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.0-service.m3note
    interface android.hardware.biometrics.fingerprint@2.1::IBiometricsFingerprint default
    class late_start
    disabled
    user system
    group system input uhid
    writepid /dev/cpuset/system-background/tasks
