service vendor.meizu-sensors-1-0 /vendor/bin/hw/meizu.hardware.sensors@1.0-service
    class hal
    user system
    group system input wakelock
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
